 .material-symbols-outlined {
     font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
 }

 .total_menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
 }

 .logo_menu {
     display: flex;
     align-items: center;
     gap: 30px;
 }

 .menu_list {
     display: flex;
     flex-direction: row-reverse;
     gap: 60px;
     list-style: none;
 }

 .menu_list a {
     text-decoration: none;
 }

 #home,
 #about_us,
 #contact_us,
 #activities,
 #support_accessibility {
     border: solid 1.5px;
     border-radius: 3px;
     padding: 10px;
 }

 .logo {
     height: 90px;
     margin-left: 250px;
     width: auto;
 }

 .hamburger {
     display: none;
     font-size: 30px;
 }

 .moto {
     width: 90%;
     overflow: hidden;
     background-color: #fff9c4;
     border: solid #ffecb3;
     border-radius: 3px;
     padding: 10px;
     margin: 40px;
     margin-top: 20px;
     position: relative;
 }

 @keyframes slide {
     from {
         transform: translateX(-100%);
     }

     to {
         transform: translateX(100%);
     }
 }

 .our_moto {
     color: #1a237f;
     font-size: 18px;
     font-weight: bold;
     animation: slide 12s linear infinite;
 }

 .last_menu {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 3px;
     border: solid 2px;
     margin: 40px;
     margin-right: 60px;
 }

 .end_title {
     margin-left: 45px;
 }

 .last_menu_list {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     flex-direction: column;
     gap: 15px;
 }

 .last_menu_list a {
     text-decoration: none;
 }

 @media (max-width: 768px) {
     .menu_list {
         display: none;
         flex-direction: column;
     }

     .menu_list.active {
         display: flex;
     }
 }