 .material-symbols-outlined {
     font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
 }

 body {
     margin: 0px;
     background-color: #f7fdf9;
     transition: 0.3s;
 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px 30px;
     border-bottom: 1px solid #ccc;
     color: #1e3a8a;
     background-color: white;
 }

 .logo {
     height: 80px;
     margin-left: 15px;
 }

 .menu_list {
     display: flex;
     gap: 40px;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .menu_list a {
     text-decoration: none;
     color: inherit;
     font-weight: 500;
 }

 #home,
 #about_us,
 #activities,
 #support_accessibility {
     border: solid 1.5px;
     border-radius: 3px;
     padding: 10px;
     border-color: #94a3b8;
     background-color: #f1f5f9;
 }


 #home:hover,
 #activities:hover,
 #about_us:hover,
 #support_accessibility:hover {
     background-color: #e0f2fe;
 }

 .actions {
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .hamburger {
     display: none;
     font-size: 32px;
     cursor: pointer;
 }

 .moto {
     width: 90%;
     overflow: hidden;
     background-color: #fff9c4;
     border: solid #ffecb3;
     border-radius: 3px;
     padding: 10px;
     margin: 40px;
     margin-top: 20px;
     position: relative;
 }

 @keyframes slide {
     from {
         transform: translateX(-100%);
     }

     to {
         transform: translateX(100%);
     }
 }

 .our_moto {
     color: #1a237f;
     font-size: 18px;
     font-weight: bold;
     animation: slide 12s linear infinite;
 }

 .last_menu {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 3px;
     border: solid 2px;
     margin: 40px;
     margin-right: 60px;
     background-color: #f1f5f9;
     border-color: #cbd5e1;
 }

 .last_menu h3 {
     color: #1e3a8a;
 }

 .end_title {
     margin-left: 45px;
 }

 .last_menu_list {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     flex-direction: column;
     gap: 15px;
 }

 .last_menu_list a {
     text-decoration: none;
     color: #1e3a8a;
 }

 .our_footer {
     text-align: center;
     margin-left: 40px;
     margin-bottom: 20px;
     gap: 20px;
     color: #1e3a8a;
 }

 @media (min-width: 319px) and (max-width: 480px) {
     .moto {
         width: 90%;
         margin: 5px;
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .last_menu {
         width: 96%;
         margin: 5px;
         display: flex;
         justify-content: center;
         align-items: center;
         list-style: none;
         flex-direction: column;
         gap: 15px;
     }

     .the_last_list {
         margin-right: 45px;
     }

     .end_title {
         text-align: center;
     }

     .last_menu_list {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
 }

 @media (min-width: 481px) and (max-width: 1200px) {
     .menu_list {
         width: 100%;
     }

     .logo{
        margin-left: 20px;
        margin-right: 50px;
     }

     .last_menu{
        width: 96%;
     }
 }

 @media (max-width: 700px) {
     .menu_list {
         position: absolute;
         top: 90px;
         right: 0;
         width: 100%;
         background-color: inherit;
         flex-direction: column;
         align-items: center;
         gap: 25px;
         padding: 25px 0;
         display: none;
     }

     .menu_list.active {
         display: flex;
     }

     .hamburger {
         display: block;
     }

     .logo {
         margin-left: 0;
     }
 }